:root {
	/* Colors */
	--clr-cyan-600: hsl(192, 37%, 48%);
	--clr-cyan-300: hsl(192, 90%, 77%);

	--clr-purple-600: hsl(268, 34%, 53%);
	--clr-purple-300: hsl(268, 100%, 86%);

	--clr-slate-900: hsl(240, 21%, 20%);
	--clr-slate-600: hsl(240, 10%, 57%);
	--clr-slate-300: hsl(240, 18%, 85%);

	--clr-white: #fafafa;

	/* Typography */
	--ff-primary: 'Red Hat Display', sans-serif;

	--fw-black: 900;
	--fw-medium: 500;

	--fs-900: 64px; /* Text Preset 1 */
	--fs-800: 40px; /* Text Preset 2 */
	--fs-700: 16px; /* Text Preset 3 */
	--fs-600: 18px; /* Text Preset 4 */
	--fs-500: 16px; /* Text Preset 5 */

	/* Line Heights */
	--lh-900: 110%;
	--lh-800: 110%;
	--lh-700: 110%;
	--lh-600: 110%;
	--lh-500: 150%;

	/* Letter Spacing */
	--ls-900: 0px;
	--ls-800: 0px;
	--ls-700: 4px;
	--ls-600: 0px;
	--ls-500: 0px;
}

/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

body {
	font-family: var(--ff-primary);
}

.header {
	height: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 1.2rem;
}

.hero__image {
}

.hero__image--left {
	position: relative;
	right: 1rem;
}

.hero__image--right {
	position: relative;
	left: 1rem;
}

.hero__title {
	margin-top: 2rem;
	grid-column: 1 / 3;
	text-align: center;
	justify-self: center;
	color: var(--clr-slate-900);
	font-size: var(--fs-800);
	font-weight: var(--fw-black);
	line-height: var(--lh-800);
}

.hero__description {
	grid-column: 1 / 3;
	text-align: center;
	justify-self: center;
	color: var(--clr-slate-600);
	font-weight: var(--fw-medium);
	font-size: var(--fs-600);
	padding: 0 1rem;
}

button {
	width: 50%;
	height: 3.5rem;
	justify-self: center;
	border-radius: 5rem;
	color: var(--clr-white);
	border: none;
	font-weight: var(--fw-black);
}

.btn.btn--download {
	grid-column: 1 / 3;
	display: block;
	background-color: var(--clr-cyan-600);
}

.btn.btn--info {
	grid-column: 1 / 3;
	display: block;
	background-color: var(--clr-purple-600);
	width: 40%;
}

.btn span {
	color: var(--clr-cyan-300);
}

main .product__section__numbers {
	color: var(--clr-slate-600);
	justify-self: center;
	font-weight: var(--fw-black);
	border: 1.5px solid var(--clr-slate-300);
	padding: 1rem;
	border-radius: 100%;
	width: 3.75rem;
	text-align: center;
	margin-bottom: 4rem;
}

main .vertical__line {
	margin-top: 4rem;
	border-left: 1.5px solid var(--clr-slate-300);
	height: 5rem;
	bottom: 15rem;
	justify-self: center;
}

.second__line .product__section__numbers {
	color: var(--clr-slate-600);
	justify-self: center;
	font-weight: var(--fw-black);
	border: 1.5px solid var(--clr-slate-300);
	padding: 1rem;
	border-radius: 100%;
	width: 3.75rem;
	text-align: center;
	position: relative;
	top: 1.75rem;
	z-index: 2;
	background-color: var(--clr-white);
}

.second__line .vertical__line {
	margin-top: 4rem;
	border-left: 1.5px solid var(--clr-slate-300);
	height: 5rem;
	bottom: 15rem;
	justify-self: center;
	z-index: 2;
	position: relative;
	top: 1.75rem;
}

.features__grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin: 3rem 2rem;
}

.features__image {
	border-radius: 0.5rem;
}

.features__content {
	text-align: center;
}

.features__subtitle {
	color: var(--clr-cyan-600);
	font-size: var(--fs-700);
	line-height: var(--lh-700);
	letter-spacing: var(--ls-700);
	font-weight: 800;
}

.features__title {
	margin: 0.75rem 0 2rem 0;
	font-size: 2rem;
	line-height: var(--lh-800);
	letter-spacing: var(--ls-800);
	font-weight: var(--fw-black);
	color: var(--clr-slate-900);
}

.features__description {
	color: var(--clr-slate-600);
	font-weight: var(--fw-medium);
	font-size: 1rem;
	padding: 0 2rem;
	margin-bottom: 3rem;
}

.footer {
	background-image: url(assets/mobile/image-footer.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 2rem;
	position: relative;
}

.footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsla(192, 37%, 48%, 0.877);
	z-index: 1;
}

.footer__title {
	color: var(--clr-white);
	font-weight: var(--fw-black);
	font-size: 2rem;
	line-height: var(--lh-800);
	margin: 3rem 0 1rem;
	z-index: 1;
}

.footer__description {
	color: var(--clr-white);
	margin-bottom: 1.5rem;
	z-index: 1;
}

footer .btn.btn--download {
	background-color: var(--clr-purple-600);
	margin-bottom: 4rem;
	z-index: 1;
	width: 60%;
}
